/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Style */

body{
    color: white;
    font-family: 'Readex Pro', sans-serif;
    
    background: linear-gradient(to right, rgb(255, 0, 0) 0, rgb(0, 0, 0) 100%);
}

section{
    margin-top: 3rem;
    max-width: 900px;
    height: 45rem;
    border: 4px solid white;
    background: linear-gradient(to right, rgb(0, 0, 0) 0, rgb(255, 0, 0) 100%);
}

h1{
    font-size: 5rem;
    margin-bottom: 19rem;
    margin-top: 1rem;
}

h2{
    background: linear-gradient(to right, rgb(188, 226, 65) 0, rgb(202, 74, 224) 100%);
    border-radius: 1rem;
    color: black;
    font-size: 2rem;
    display: inline;
    flex-direction: column;
    padding: 1rem 4rem;
}

p{
    padding: 1rem 4rem;
    margin-top: 5rem;
    font-size: 1.5rem;
}

button{
    margin-top: 3rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 1rem;
    background: linear-gradient(to right, rgb(253, 127, 127) 0, rgb(132, 0, 255) 100%);
    font-size: 1.5rem;
}

