html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  background-color: rgb(241,244,248);
}

h1{
  text-align: center;
}

div{
  border: 2px solid black;
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
display: flex;
flex-wrap: wrap;
margin-left: 1rem;
margin-top: 0.5rem;
}
